<div class="card mt-2">
  <div class="row">
    <div class="col-md-3">
      <div class="center">
        <p class="p-0 m-0">
          <i class="fa-regular fa-calendar-days red-color"></i>&nbsp; 12.2.2023
        </p>
      </div>
    </div>
    <div class="col-md-3 borderLeft">
      <div class="center">
        <p class="p-0 m-0 red-color">1</p>
      </div>
    </div>
    <div class="col-md-3 borderLeft">
      <div class="center">
        <p class="fw-bold red-color p-0 m-0">SORTIE</p>
      </div>
    </div>
    <div class="col-md-3 borderLeft">
      <div class="center">
        <p class="fw-bold p-0 m-0">
          <i class="fa-solid fa-cart-shopping"></i>&nbsp; Commande client
        </p>
      </div>
    </div>
  </div>
</div>
