<div class="card mt-2">
  <div class="row m-2">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-3">
          <img
            src="../../../../assets/images/articles/WhatsApp Image 2023-06-11 at 08.56.53.jpeg"
            alt=""
            style="width: 50px; height: 70px"
          />
        </div>
        <div class="col-md-9 borderLeft">
          <div class="row" *ngIf="categorie">
            <small> {{ categorie.nomCategorie }}</small>
          </div>
          <div class="row" *ngIf="article">
            <small>{{ article.nomArticle }} </small>
          </div>
          <div class="row"></div>
          <div class="row" *ngIf="contenu">
            <small>{{ contenu.prix }} Ar TTC</small>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="contenu"
      class="col-md-4 center borderLeft"
      style="display: flex; flex-direction: column"
    >
      <div class="row">
        <small>{{ contenu.pointure }}</small>
      </div>
      <div class="row">
        <small>{{ contenu.couleur }}</small>
      </div>
      <div class="row">
        <small>{{ contenu.quantite }} </small>
      </div>
    </div>
    <!-- boutton -->
    <div
      class="col-md-4 borderLeft"
      style="display: flex; justify-content: flex-end"
    >
      <div class="align-row">
        <div>
          <button
            class="btn btn-link green-color"
            style="text-decoration: none"
          >
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Modifier
          </button>
        </div>
        <div>
          <button class="btn btn-link red-color" style="text-decoration: none">
            <i class="fa fa-trash" aria-hidden="true"></i>
            Supprimer
          </button>
        </div>
        <div>
          <button class="btn btn-link" style="text-decoration: none">
            <i class="fa fa-list" aria-hidden="true"></i>

            Détail
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
