<div class="container">
  <div class="row">
    <div class="col-md-10 left mt-2">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          style="width: 600px"
          aria-describedby="helpId"
          placeholder="Recherche"
        />
      </div>
    </div>
    <div class="col-md-2">
      <div class="row mt-2">
        <div class="col rigth"><p class="fw-bold m-0">Utilisateur</p></div>
        <div class="col">
          <a [routerLink]="['/profil']">
            <img
              src="../../../assets/images/blank-profile-picture-g06e1e6fec_1280.png"
              alt="profil"
              style="height: 40px; width: 40px"
              class="rounded-circle"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
