<div class="card mt-2">
  <div class="row m-2">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-3">
          <img
            src="../../../../assets/images/articles/WhatsApp Image 2023-06-11 at 08.56.53.jpeg"
            alt=""
            style="width: 50px; height: 70px; padding-right: 10px"
          />
        </div>
        <div class="col-md-9 borderLeft">
          <div class="row"><small>Art-123232</small></div>
          <div class="row"><small>Description de l'article</small></div>
          <div class="row"><small>125 000 Ar HT</small></div>
          <div class="row"><small>500 000 Ar TTC</small></div>
        </div>
      </div>
    </div>
    <div
      class="col-md-4 center borderLeft"
      style="display: flex; flex-direction: column"
    >
      <div class="row fw-bold"><small>Stock actuel</small></div>
      <div class="row fw-bold"><small>136</small></div>
    </div>
    <!-- boutton -->
    <div
      class="col-md-4 borderLeft"
      style="display: flex; justify-content: flex-end"
    >
      <div class="align-row">
        <div>
          <button
            class="btn btn-link green-color"
            style="text-decoration: none"
          >
            <i class="fa fa-pencil" aria-hidden="true"></i><br />
            Correction de stock
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
