<div class="container">
  <div class="row mt-2">
    <h2 class="red-color">Nouvelle article</h2>
  </div>
  <form [formGroup]="mainFormGroup" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="container">
        <mat-card class="p-2">
          <!-- gauche -->
          <div class="form-group mb-2">
            <button type="button" mat-raised-button (click)="fileInput.click()">
              Photo de l'article
            </button>
            <input
              hidden
              (change)="onFileSelected($event)"
              formControlName="photo"
              #fileInput
              type="file"
            />
            <span class="file-name">{{ selectedFile?.name }}</span>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <mat-form-field class="full-width">
                  <mat-label>Nom de l'article</mat-label>
                  <input
                    type="text"
                    formControlName="nomArticle"
                    matInput
                    placeholder="Nom article"
                  />
                </mat-form-field>
              </div>
              <div>
                <div class="form-group">
                  <mat-form-field class="full-width">
                    <mat-label>Prix </mat-label>
                    <input
                      type="number"
                      formControlName="prix"
                      matInput
                      placeholder="Prix en Ar"
                    />
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <mat-form-field class="full-width">
                    <mat-label>Couleur</mat-label>
                    <input type="color" formControlName="couleur" matInput />
                  </mat-form-field>
                </div>
              </div>
            </div>
            <!-- droite -->

            <div class="col-md-6">
              <div class="form-group">
                <mat-form-field class="full-width">
                  <mat-label>Quantité</mat-label>
                  <input
                    type="number"
                    matInput
                    formControlName="quantite"
                    placeholder="Quantité"
                  />
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field class="full-width">
                  <mat-label>Pointure</mat-label>
                  <input
                    type="number"
                    matInput
                    formControlName="pointure"
                    placeholder="Pointure"
                  />
                </mat-form-field>
              </div>
              <div>
                <mat-select
                  formControlName="nomCategorie"
                  placeholder="Choisissez une catégorie"
                >
                  <mat-option>
                    <app-select-artciles></app-select-artciles>
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div style="display: flex; justify-content: flex-end">
      <div class="m-2">
        <app-deux-boutton (back)="goBack()"></app-deux-boutton>
      </div>
    </div>
  </form>
</div>
