<div class="container">
  <div class="row mt-2">
    <h3 class="red-color">Nouvelle article</h3>
  </div>
  <form (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="container">
        <div class="card m-2 pb-3 row mainCard">
          <form class="d-flex">
            <div class="col-md-6">
              <div class="form-group mb-2">
                <input
                  type="file"
                  class="form-control"
                  aria-describedby="helpId"
                />
              </div>
              <div class="form-group mb-2" [formGroup]="articleForm">
                <input
                  type="text"
                  class="form-control fw-light"
                  aria-describedby="helpId"
                  placeholder="Nom article"
                  name="nomArticle"
                  formControlName="nomArticle"
                />
              </div>
              <div [formGroup]="contenuForm">
                <div class="form-group mb-2">
                  <input
                    type="text"
                    class="form-control fw-light"
                    aria-describedby="helpId"
                    placeholder="Prix "
                    name="prix"
                    formControlName="prix"
                  />
                </div>
                <div class="form-group mb-2">
                  <input
                    type="text"
                    class="form-control fw-light"
                    aria-describedby="helpId"
                    placeholder="Couleur"
                    name="couleur"
                    formControlName="couleur"
                  />
                </div>
              </div>
            </div>
            &nbsp;&nbsp;
            <div class="col-md-6" [formGroup]="contenuForm">
              <div class="form-group mb-2">
                <input
                  type="text"
                  class="form-control fw-light"
                  aria-describedby="helpId"
                  placeholder="quantité"
                  name="quantité"
                  formControlName="quantite"
                />
              </div>
              <div class="form-group mb-2">
                <input
                  type="text"
                  class="form-control fw-light"
                  aria-describedby="helpId"
                  placeholder="Pointure"
                  name="Pointure"
                  formControlName="pointure"
                />
              </div>
              <div [formGroup]="selectedCntrl">
                <select class="form-select" formControlName="categorie">
                  <option>
                    <app-select-artciles></app-select-artciles>
                  </option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div style="display: flex; justify-content: flex-end">
      <div class="m-2">
        <app-deux-boutton (back)="goBack()"></app-deux-boutton>
      </div>
    </div>
  </form>
</div>
