.mainCard {
  margin-top: 20px;
  padding-top: 20px;
}
.img-et-btn {
  width: 145px;
  display: flex;
  flex-direction: column;
}
.btn-plus {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 30px;
  width: 40px;
}
.btn-ligth {
  border-radius: 30px;
  height: 30px;
  width: 40px;
  text-align: center;
}
.btn {
  width: 130px;
}
.form-control {
  width: 80%;
}
.full-width {
  width: 100%;
}
