<div class="container" [formGroup]="infoClient">
  <div class="row">
    <h3 class="red-color mt-2">Nouveau client</h3>
  </div>
  <div class="form-group" style="width: 49%">
    <label for="" class="mb-1">Photo du client :</label>
    <input type="file" class="form-control mb-2" formControlName="photo" />
  </div>
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="container mb-2">
            <h3 class="blue-color m-0 p-0">
              <i class="fa-solid fa-circle-info"></i>&nbsp; A propos
            </h3>
          </div>
          <div class="form-group mb-2">
            <input
              type="text"
              class="form-control"
              aria-describedby="helpId"
              placeholder="Nom "
              formControlName="nom"
            />
          </div>
          <div class="form-group mb-2">
            <input
              type="text"
              class="form-control"
              aria-describedby="helpId"
              placeholder="Prenom"
              formControlName="prenom"
            />
          </div>
          <div class="d-flex mb-2">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="male"
                value="male"
              />
              <label class="form-check-label" for="male">Masculin</label>
            </div>
            <div style="width: 50px"></div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="female"
                value="female"
              />
              <label class="form-check-label" for="female">Féminin</label>
            </div>
          </div>
          <div class="form-group mb-2">
            <input
              type="email"
              class="form-control"
              name=""
              id=""
              aria-describedby="helpId"
              placeholder="E-mail"
              formControlName="email"
            />
          </div>
          <div class="form-group mb-2">
            <input
              type="tel"
              class="form-control"
              name=""
              id=""
              aria-describedby="helpId"
              placeholder="Numero télephone"
              formControlName="numeroPhone"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="container mb-2">
            <h3 class="blue-color m-0 p-0">
              <i class="fa-solid fa-location-dot"></i>&nbsp;Adresse
            </h3>
          </div>
          <div class="form-group mb-2">
            <input
              type="text"
              class="form-control"
              aria-describedby="helpId"
              placeholder="Adresse"
              formControlName="adresse"
            />
          </div>
          <div class="form-group mb-2">
            <input
              type="text"
              class="form-control"
              aria-describedby="helpId"
              placeholder="Ville"
              formControlName="ville"
            />
          </div>
          <div class="form-group mb-2">
            <input
              type="text"
              class="form-control"
              aria-describedby="helpId"
              placeholder="Pays"
              formControlName="pays"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="display: flex; justify-content: flex-end">
    <app-deux-boutton (back)="goBack()" (clickSave)="save()"></app-deux-boutton>
  </div>
</div>
