<div class="container" [formGroup]="infoClient">
  <div class="row">
    <div class="col p-2">
      <img
        src="../../../../assets/images/articles/talon.jpeg"
        alt=""
        class="rounded-circle ml-2"
        style="height: 150px; width: 100"
      />
    </div>
  </div>
  <div class="row">
    <h3 class="red-color">Nouveau client</h3>
  </div>
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="center mb-2">
            <h3 class="blue-color m-0 p-0">
              <i class="fa-solid fa-circle-info"></i>&nbsp; A propos
            </h3>
          </div>
          <div class="form-group mb-2">
            <input
              type="text"
              class="form-control fw-light"
              aria-describedby="helpId"
              placeholder="Nom "
              formControlName="nom"
            />
          </div>
          <div class="form-group mb-2">
            <input
              type="text"
              class="form-control fw-light"
              aria-describedby="helpId"
              placeholder="Prenom"
              formControlName="prenom"
            />
          </div>
          <div class="form-group mb-2">
            <input
              type="email"
              class="form-control fw-light"
              name=""
              id=""
              aria-describedby="helpId"
              placeholder="E-mail"
              formControlName="email"
            />
          </div>
          <div class="form-group mb-2">
            <input
              type="tel"
              class="form-control fw-light"
              name=""
              id=""
              aria-describedby="helpId"
              placeholder="Numero télephone"
              formControlName="numeroPhone"
            />
          </div>
          <div class="form-group mt-2">
            <select class="form-select" formControlName="sexe">
              <option class="fw-light">Homme</option>
              <option class="fw-light">Femme</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="center mb-2">
            <h3 class="blue-color m-0 p-0">
              <i class="fa-solid fa-location-dot"></i>&nbsp;Adresse
            </h3>
          </div>
          <div class="form-group mb-2">
            <input
              type="text"
              class="form-control fw-light"
              aria-describedby="helpId"
              placeholder="Adresse"
              formControlName="adresse"
            />
          </div>
          <div class="form-group mb-2">
            <input
              type="text"
              class="form-control fw-light"
              aria-describedby="helpId"
              placeholder="Ville"
              formControlName="ville"
            />
          </div>
          <div class="form-group mb-2">
            <input
              type="text"
              class="form-control fw-light"
              aria-describedby="helpId"
              placeholder="Pays"
              formControlName="pays"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="display: flex; justify-content: flex-end">
    <app-deux-boutton (back)="goBack()" (clickSave)="save()"></app-deux-boutton>
  </div>
</div>
