.form {
  width: 600px;
  padding: 0px;
  margin: 20px;
}
.disFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(48, 43, 43);
  border-radius: 20px;
  margin-top: 30px;
  width: 900px;
  margin-left: 40px;
}
