.form-control {
  width: 300px;
}
.disFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 80%;
  margin-left: 40px;
  padding: 20px;
}
.form-group {
  margin: 10px;
}
