<div class="container">
  <div class="row p-2">
    <!-- liste des articles -->
    <div class="col">
      <h2 class="fw-bold red-color">Vente</h2>
    </div>
    <!-- boutton d'action -->
    <div class="col">
      <div class="boutton right">
        <app-nouveau-boutton (clickEvent)="newVente()"></app-nouveau-boutton>
      </div>
    </div>
  </div>
  <div class="row">
    <app-detail-vente
      (onDelete)="deleteVente(i)"
      *ngFor="let item of listVente; index as i"
      [indexCat]="i"
      [vente]="item"
    ></app-detail-vente>
  </div>
</div>
