<div class="main-container">
  <div class="container">
    <div class="row p-2">
      <!-- liste des articles -->
      <div class="col">
        <h2 class="fw-bold red-color">Liste des Clients</h2>
      </div>
      <!-- boutton d'action -->
      <div class="col">
        <div class="boutton right">
          <app-nouveau-boutton
            (clickEvent)="nouvelClient()"
          ></app-nouveau-boutton>
        </div>
      </div>
    </div>
    <!-- detail -->
    <div class="row">
      <div class="container mb-2">
        <app-detail-client
          (onDelete)="deleteArticle(i)"
          *ngFor="let listClient of listClients; index as i"
          [client]="listClient"
        ></app-detail-client>
      </div>
    </div>
  </div>
</div>
