<div class="main-container">
  <div class="container">
    <div class="row p-2">
      <!-- liste des articles -->
      <div class="col">
        <h2 class="fw-bold">Liste des Clients</h2>
      </div>
      <!-- boutton d'action -->
      <div class="col">
        <div class="boutton right">
          <app-nouveau (clickEvent)="nouvelClient()"></app-nouveau>
        </div>
      </div>
    </div>
    <!-- detail -->
    <div class="row">
      <div class="container mb-2">
        <app-detail-client
          *ngFor="let listClient of listClients"
          [client]="listClient"
        ></app-detail-client>
      </div>
    </div>
  </div>
</div>
