<div class="containrer">
  <div style="margin: 20px">
    <div class="container mt-1"><h3>Nouvelle catégories</h3></div>

    <form
      class="form-control"
      [formGroup]="categoryForm"
      (ngSubmit)="onSubmit()"
    >
      <div>
        <div class="form-group m-2">
          <input
            type="text"
            class="form-control fw-light"
            aria-describedby="helpId"
            placeholder="Nom catégories"
            formControlName="nomCategorie"
            required
          />
        </div>
        <div class="rigth">
          <div class="row">
            <app-deux-boutton (back)="goBack()"></app-deux-boutton>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
