<div class="container">
  <div class="row p-2">
    <!-- liste des articles -->
    <div class="col">
      <h2 class="fw-bold">Liste des articles</h2>
    </div>
    <!-- boutton d'action -->
    <div class="col">
      <div class="boutton right">
        <app-nouveau (clickEvent)="nouvelArticle()"></app-nouveau>
      </div>
    </div>
  </div>
  <!-- detail -->
  <div class="row">
    <div class="container mb-2">
      <app-detail-articles *ngFor="let item of listArticle" [article ]="item">
      </app-detail-articles>
    </div>
  </div>

  <!-- pagination -->
  <div class="mt-2 mb-2 center">
    <app-pagination></app-pagination>
  </div>
</div>
