<div class="container">
  <div class="container">
    <h2 class="red-color">Money</h2>
    <div class="row">
      <!-- recette -->
      <div class="col">
        <mat-card>
          <div class="container">
            <div class="text-center">
              <h5>Recette</h5>
            </div>
          </div>
        </mat-card>
      </div>
      <!-- dépense -->
      <div class="col">
        <mat-card>
          <div class="container">
            <div class="text-center"><h5>Dépenses</h5></div>
          </div>
        </mat-card>
      </div>

      <!-- Solde -->
      <div class="col">
        <mat-card>
          <div class="container">
            <div class="text-center">
              <h5>Solde</h5>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
