<div class="container">
  <div class="card mt-2">
    <div class="card-body">
      <div class="card-header mb-2">
        <h2 class="fw-bold">S'inscrire</h2>
      </div>
      <div class="form-group mb-2">
        <input
          type="text"
          class="form-control fw-light"
          name=""
          id=""
          aria-describedby="helpId"
          placeholder="Nom"
        />
      </div>
      <div class="form-group mb-2">
        <input
          type="email"
          class="form-control fw-light"
          name=""
          id=""
          aria-describedby="helpId"
          placeholder="Code fiscal"
        />
      </div>
      <div class="form-group mb-2">
        <input
          type="email"
          class="form-control fw-light"
          name=""
          id=""
          aria-describedby="helpId"
          placeholder="Exemple@gmail.com"
        />
      </div>
      <div class="form-group mb-2">
        <input
          type="email"
          class="form-control fw-light"
          name=""
          id=""
          aria-describedby="helpId"
          placeholder="Adrresse"
        />
      </div>
      <div class="form-group mb-2">
        <input
          type="text"
          class="form-control fw-light"
          name=""
          id=""
          aria-describedby="helpId"
          placeholder="Ville"
        />
      </div>
      <div class="form-group mb-2">
        <input
          type="text"
          class="form-control fw-light"
          name=""
          id=""
          aria-describedby="helpId"
          placeholder="Code postal"
        />
      </div>
      <div class="form-group mb-2">
        <input
          type="text"
          class="form-control fw-light"
          name=""
          id=""
          aria-describedby="helpId"
          placeholder="Pays"
        />
      </div>
      <div class="form-group mb-2">
        <input
          type="password"
          class="form-control fw-light"
          name=""
          id=""
          aria-describedby="helpId"
          placeholder="Mot de pass"
        />
      </div>
      <div class="form-group mt-1">
        <input
          type="password"
          class="form-control fw-light"
          name=""
          id=""
          aria-describedby="helpId"
          placeholder="Confirmer le mot de pass"
        />
      </div>

      <div class="row mt-2 connecter">
        <button type="button" class="btn btn-primary">&nbsp;S'inscrire</button>
      </div>
      <div class="row center mt-2">
        <div style="width: 60px"><p class="fw-light">ou</p></div>
      </div>
      <div class="row center">
        <div class="center m-0 p-0">
          <p class="fw-light m-0">Vous avez pas de compte?</p>
          &nbsp;
          <a [routerLink]="['/login']" style="text-decoration: none"
            >Se connecter</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
