<div class="container" style="margin: 5px" *ngIf="vente">
  <div class="card">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="pt-2">{{ vente.idVente }}</div>
        </div>
        <div class="col">
          <div class="pt-3">
            <h6>{{ vente.nomCLient }}</h6>
          </div>
        </div>

        <div class="col">
          <div class="pt-3">
            <h6 class="red-color">
              <i class="fa fa-calendar" aria-hidden="true"></i> {{ vente.date }}
            </h6>
          </div>
        </div>
        <div class="col">
          <div class="pt-3">
            <h6 class="fw-light">{{ vente.description }}</h6>
          </div>
        </div>
        <div class="col">
          <div class="pt-3">
            <h6>{{ vente.prixUnitaire }}</h6>
          </div>
        </div>
        <div class="col">
          <div class="pt-3">
            <h6>{{ vente.quantite }}</h6>
          </div>
        </div>
        <div class="col">
          <div class="pt-3">
            <h6>{{ vente.prixTotal }}</h6>
          </div>
        </div>
        <div class="col">
          <div class="pt-3">
            <h6>{{ vente.tva }}</h6>
          </div>
        </div>
        <div class="col">
          <div class="pt-3">
            <h6>{{ vente.prixHT }}</h6>
          </div>
        </div>
        <div class="col">
          <div class="pt-3">
            <h6>{{ vente.prixTTC }}</h6>
          </div>
        </div>
        <div class="col">
          <app-edit-et-supprimer
            (edit)="onEdit()"
            (delete)="onDelete()"
          ></app-edit-et-supprimer>
        </div>
      </div>
    </div>
  </div>
</div>
