/* You can add global styles to this file, and also import other style files */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.red-color {
  color: rgb(202, 34, 34);
}
.blue-color {
  color: rgb(64, 64, 194);
}
.center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.center-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
button {
  margin: 4px;
}
.green-color {
  color: green;
}
.borderLeft {
  border-left: 1px solid black;
}
